html.i-amphtml-singledoc {
    width: 720px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin: 0 auto;
}
html.i-amphtml-singledoc > body {
    width: inherit;
}
amp-iframe {
    background: hsl(0, 100%, 98%);
}
amp-ad, amp-embed {
    background: hsl(0, 0%, 98%);
}
