html.i-amphtml-singledoc {
    max-width: 720px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin: 0 auto;
}
html.i-amphtml-singledoc > body {
    width: inherit;
}
amp-iframe {
    background: red;
}
